<!--
Team Unhelpables (Jeffrey Huang, Dean Carey, Matthew Hui)
SoftDev
K13 -- Template for Success
2020-10-19
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Occupation Selector</title>
    </head>
    <body>
        <h3>TNPG: The Unhelpables</h3>
        <h4>Roster: Dean Carey, Matthew Hui, Jeffrey Huang</h4>
        <h4>Random Job: {{ answer }} </h4>
        <table>
        	<tr>
        		<th>Occupation</th>
        		<th>Percentage</th>
        	</tr>
        {% for key,value in list_dict.items() %}
        <tr>
        	<td>{{key}}</td>
        	<td>{{value}}</td>
        </tr>
        {% endfor %}
    	</table>
    </body>
</html>
